<div class="module-contents-header">
	<div>{{title}}</div>
	<div class="features">
		<div ng-click="featureView = 'overview'" ng-class="{'selected' : featureView == 'overview'}" class="hvr-underline-from-center tab selected">
			Overview
		</div>
	</div>
</div>

<!-- overview -->
<div ng-show="featureView == 'overview'">
	<div style="padding: 15px;">
		<div>
			<div class="jc-row">
				<div class="feature-card jc-col" style="width: 20%; padding: 20px 30px; min-height: 200px;">
					<div>
						<h1>Date:</h1>
					</div>
					<input type="date" name="activitydate">
				</div>
				<div class="jc-col" style="width: 80%;">
					<div class="feature-card" style="padding: 40px; min-height: 100px;">
						<div class="jc-row">
							<div class="jc-col" style="width: 20%; font-size: 20px;">
								Activity Type:
							</div>
							<div class="jc-col" style="width: 80%;">
					    		<select id="tutorDropDown" class="form-control" ng-options="tutor.name for tutor in tutors" ng-model="selectedTutor"></select>
							</div>
							<button class="btn btn-default" ng-click="searchTutorDates()">Search Dates</button>
						</div>
						<div class="jc-row">
							<br>
							<div ng-if="selectedTutor.name" class="form-group">
								<div class="form-control">
									Create new Tutor Date 
									<input type="date" placeholder="date" ng-model="tutorDateToBeAdded.date">
									<button class="btn btn-xs btn-success" ng-click="addTutorDate()">Add Date</button>
								</div>
							</div>
							<div ng-if="displayedTutorDates.length > 0">
								Choose Date:
								<div ng-repeat="tutorDate in displayedTutorDates">
									Date: <a ng-click="searchStudents(tutorDate)">{{tutorDate.date | date}}</a> 
								</div>
							</div>
							
						</div>
					</div>

					<div class="feature-card" style="    padding: 40px;">
						<h3 ng-if="selectedTutorDate.date">Students for <b>{{selectedTutorDate.date | date}}</b></h3><hr>
						<div class="jc-row" style="    padding-bottom: 15px;border-bottom: 1px solid lightgray;margin-bottom: 18px;">
							<div class="jc-col" style=" width: 20%;">
								First Name: 
							</div>
							<div class="jc-col" style=" width: 20%;">
								Last Name:
							</div>
							<div class="jc-col" style=" width: 15%;">
								Attended:
							</div>
							<div class="jc-col" style=" width: 15%;">
								Absent:
							</div>
						</div>
						<div class="jc-row" style="    margin-bottom: 10px;border-bottom: 1px solid whitesmoke;" ng-repeat="student in displayedStudents">
							<div class="jc-col" style=" width: 20%;">
								{{student.firstName}}
							</div>
							<div class="jc-col" style=" width: 20%;">
								{{student.lastName}}
							</div>
							<div ng-if="student.displayTutorSessions" class="jc-col" style="width: 30%">
								{{student.displayTutorSessions.date | date}}, attendence:  {{student.displayTutorSessions.attended}}
							</div>
							<div ng-if="!student.displayTutorSessions" class="jc-col" style=" width: 15%;">
								<button class="btn btn-sm btn-success" ng-click="addTutorSession(true, student, selectedTutorDate)">Attended</button>
							</div>
							<div ng-if="!student.displayTutorSessions" class="jc-col" style=" width: 15%;">
								<!-- <div style="    margin: 15px;"  class="student-fac-button">
									Out
								</div> -->
								<button class="btn btn-sm btn-danger" ng-click="addTutorSession(false, student, selectedTutorDate)">Absent</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>