html, body, .super-wrapper, .app-wrapper {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif !important;
	margin: 0;
}
/*COLOR SCHEMES*/
/*
RED: CE0000;
GRAY: C6CFD6;
BLUE-GRAY: E7E7EF;
WHITE: FFFFFF;
BLUE-BLACK: 003031;
*/

.super-wrapper {
	height: 100%;
}
.app-wrapper {
	position: relative;
	min-height: 0;
}
.top-app-bar {
	position: relative;
	display: block;
	flex: 0 0 auto;
	/*background-color: #CE0000;*/
        background-color: #212121;
	color: white;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
	z-index: 20;
}
.app-bar {
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.side-nav-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 48px;
    /*top: 0;*/
	box-sizing: border-box;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	z-index: 11;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 256px;
	transition: width .3s cubic-bezier(0.4,0.0,0.2,1);
}
.inner-side-nav-container {
	flex:1 1 auto;
	padding-bottom: 32px;
	transform: translate3d(0,0,0);
	display: block;
	background-color: white;
    /*background-color: #2f323a;*/
    color: #989dac;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
}
.inner-side-nav-container > a {
	color: black;
    text-decoration: none;
}
.inner-side-nav-container-footer {
    box-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    visibility:  visible;
}
.module-host {
	height: 0;
}
.feature-card, .edit-sec > div.sec {
	background-color: white;
/*	min-height: 300px;*/
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
}
.module-contents {
	left: 256px;
	position: absolute;
	background-color: #edeff5;
	top: 48px;
    /*top: 0;*/
	bottom: 0;
	right: 0;
	overflow-y: auto;
	min-width: 650px;
	transition: left .3s cubic-bezier(0.4,0.0,0.2,1);
}
.module-contents-header {
	padding: 10px; 
	padding-left: 33px; 
	padding-bottom: 0; 
	width: 100%; 
	/*background: #0069d0;*/
	/*background-color: #003031;*/
	background-color: White;
	min-height:56px; 
	font-size: 20px; 
	color: gray; 
	border-bottom: 1px solid #eeeeee;
}
.app-name {
	padding: 10px;
    padding-top: 30px;
     background: #fafafa; 
    /*background-color: #2f323a;*/
    text-align: center;
    /* min-height: 48px; */
    /* font-size: 18px; */
    /* line-height: 48px; */
    /* border-bottom: 1px solid #eeeeee; */
}
.app-name > i:hover, .inner-side-nav-container-footer > div > i:hover  {
	color: #FFA300;
	font-size: 20px;
	cursor: pointer;
}
.app-section {
	padding: 15px 30px;
	background-color: white;
    /*background-color: #2f323a;*/
    color: #989dac;
	cursor: pointer;
}
.app-section.active {
    background-color: #5093e1;
    color: white;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    -ms-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}

.app-section:hover {
	background-color: #5093e1;
    color: white;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    -ms-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}
.app-section .title{
	margin-left: 15px;
}
.app-section .section-icon {
	min-width: 20px;
    display: inline-block;
}

/*module styling*/
.features > div.tab {
	font-size: 14px;
    text-align: center;
    padding: 12px 24px;
    -webkit-transition: background-color .35s cubic-bezier(0.35,0,0.25,1);
    transition: background-color .35s cubic-bezier(0.35,0,0.25,1);
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.save-button {
	background-color: #c5ffcd;
    border: 1px solid #b5e2c9 !important;
    color: #215f3a;
}
.save-button:hover {
	background-color: #ceffe9;
    border: 1px solid #b5e2c9;
    color: #215f3a;
}
.loading-fade-screen {
	z-index: 99;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.79);
    height: 200%;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
}
.loading-fade-screen > div {
	width: 270px;
    height: 150px;
    position: fixed;
    left: 58%;
    top: 300px;
    margin: -135px 0 0 -135px;
}

div.addNew {
	margin-right: 15px;
	float: right;
    font-size: 14px;
    text-align: center;
    padding: 12px 24px;
    -webkit-transition: background-color .35s cubic-bezier(0.35,0,0.25,1);
    transition: background-color .35s cubic-bezier(0.35,0,0.25,1);
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.features > div.tab.selected {
	border-bottom: 3px solid #CE0000;
}
.features > div.tab:hover {
	border-bottom: 3px solid #d4b4b4;
}


.module-contents-header > div.feature {
	flex-direction: column;
}


.feature-card > .choose-style-wrapper {
	display: table;
}

.view-cards-demo {
	height: 100%;
	display: inline-block;
	background-color: lightgray;
	width: 30%;
}
.student-fac-button {
    position: relative;
    background: -webkit-linear-gradient(left top, #6cb2ff, #82abe4);
    background: -o-linear-gradient(bottom right, #6cb2ff, #82abe4);
    background: -moz-linear-gradient(bottom right, #6cb2ff, #82abe4);
    background: linear-gradient(to bottom right, #6cb2ff, #82abe4);
    border-radius: 3px;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }
.jc-row {
	width: 100%; 
	display: table; 
	position: relative;
}
.jc-col {
	display:inline-block; 
	vertical-align:top;
}
.sec {
	padding: 35px; 
	margin-bottom: 10px; 
	border-radius: 5px;
}
.edit-sec {
	padding: 10px 20px 0px 20px;
}
.action-button {
	padding: 12px 16px;
    -webkit-transition: background-color .35s cubic-bezier(0.35,0,0.25,1);
    transition: background-color .35s cubic-bezier(0.35,0,0.25,1);
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    border: 1px solid lightgrey;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.reorderValues {
    cursor: pointer;
}
.reorderValues:hover {
    color: blue;
}


/*MODAL SNUFF*/
.jc-modal {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
}
.jc-modal-box {
    width: 600px;
    margin: 30px auto;
    position: relative;
}
.jc-modal-content {
	position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.jc-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.jc-modal-body {
    position: relative;
    padding: 15px;
}
.jc-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.jc-modal-bg {
    opacity: .5;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.img-input-wrapper {
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}
.img-input-wrapper:hover {
    color: #0A6EBD;
}
.file-input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
}
.input-wrapper {
    margin-top: 20px;
    position: relative;
    border: 1px dashed sandybrown;
    background-color: #f3f3f3;
}
.input-wrapper:hover {
    border: 3px dashed sandybrown;
}
input[type='file'] {
  opacity:0    
}
div.alt-imgs > div.alt-img-container {
	height: 75px;
	overflow: hidden;
    margin-bottom: 15px;
	/*border: 1px solid gray;*/
}
div.alt-img-container > div.alt-img-box{
	padding: 0px 5px 5px 5px;
}
div.alt-img-container > div.alt-img-box >div{
	border: 1px solid lightgrey; 
}
.alt-img {
    padding:5px; 
    /*border: 1px solid lightgrey; */
    height:125px;
}
.alt-img > h5 {
    padding-top: 15px;
}
.product-row:hover {
    border-radius: 47px;
    background: aliceblue;
}

.product-row > a:hover {
    text-decoration: none;
}
.img-show {
    position: relative;
}
.img-show:hover .imageOptions {
    display: block;
}
.imageOptions {
    display: none;
    position: absolute;
    background-color: rgba(31, 53, 50, 0.7);
    top: 0;
    width: 100%;
    bottom: 0;
}
.action-button:hover, .addNew:hover {
    background-color: #eaf5ff;
}
.action-button.inactive {
    background-color: #eaeaea !important;
    color: #d0d0d0 !important;
}
.action-button.active {
    background-color: #c5ffcd !important;
}
li.options-container.reorderOptions, li.options-container.reorderValues {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 6px;
}
.valueOptionsWrapper > i.editValue:hover {
    color: blue;
}
.valueOptionsWrapper > i.deleteValue:hover {
    color: red;
}

i.fa:hover {
    cursor: pointer;
}

i.fa-trash-o:hover {
    color: red;
}

i.fa-pencil-square-o:hover {
    color: orange;
}

/*THANKS: https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; width: 74px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
